@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,800;1,700&family=Raleway:wght@100&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@100;300;400;500&family=Spline+Sans:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}

:root{
    --clr--dark: #333333;
    --clr--light: #DDDCDC;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 1000;
    background: var(--clr--dark);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 

.logo{
    width: 180px;
    cursor: pointer;
    opacity: 0.7;
}

.navbar ul li{
    font-weight: 900;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    position: relative;
}

.navbar ul li:after{
    content: '';
    position: absolute;
    background: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 250ms;
}

.navbar ul li:hover::after{
    width: 100%;
    opacity: 0.7;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    font-weight: lighter;
    transition: 250ms;
}

.navbar ul li a:hover{
    opacity: 1;
}

.content1{
    display: flex;
    align-items: center;
    position: absolute; 
    margin-top: 103px;
    width: 100%;
    height: 50vh;
    background: var(--clr--light);
}

.content1 .text{
    max-width: 1000px;
}

.content1 .text p{
    margin: 30px 0;
}

.content1 a{
    text-decoration: none;
    color: #fff;
    background: #333333;
    padding: 15px;
    transition: 250ms;
    border-radius: 20px;
}

.content1 a:hover{
    border-radius: 10px;
}

.content2{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: var(--clr--dark);
    margin-top: 615px;
}

.content2 img{
    padding-left: 195px;
    width: 25%;
}

.content2 .text{
    max-width: 1000px;
    color: #fff;
    margin-left: 190px;
}

.content2 .text p{
    margin: 30px 0;
}

.content2 a{
    text-decoration: none;
    color: #000;
    background: #DDDCDC;
    padding: 15px;
    border-radius: 20px;
    transition: 250ms;
}

.content2 a:hover{
    border-radius: 10px;
}

.content3{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top: 58%;
    background: var(--clr--light);
}

.content3 img{
    padding-left: 80px;
}

.content3 .text{
    max-width: 900px;
    margin-left: 112px;
}

.content3 .text p{
    margin: 30px 0;
}

.content3 a{
    text-decoration: none;
    color: #fff;
    background: #333333;
    padding: 15px;
    border-radius: 20px;
    transition: 250ms;
}

.content3 a:hover{
    border-radius: 10px;
}

.content4{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top: 84%;
    background: var(--clr--dark);
}

.content4 img{
    width: 25%;
    margin-left: 75px;
}

.content4 .text{
    max-width: 800px;
    color: #fff;
    margin-left: 120px;
}

.content4 .text p{
    margin: 30px 0;
}

.content4 a{
    text-decoration: none;
    color: #000;
    background: var(--clr--light);
    padding: 15px;
    border-radius: 20px;
    transition: 250ms;
}

.content4 a:hover{
    border-radius: 10px;
} 

.content5{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top: 110%;
    background: var(--clr--light);
}

.content5 img{
    width: 20%;
    margin-left: 5%;
}

.content5 .text{
    max-width: 900px;
    margin-left: 10%;
}

.content5 .text p{
    margin: 30px 0;
}

.content5 a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    background: var(--clr--dark);
    transition: 250ms;
}

.content5 a:hover{
    border-radius: 10px;
}

.content6{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top: 136%;
    background: var(--clr--dark);
}

.content6 img{
    width: 20%;
    margin-left: 4%;
}

.content6 .text{
    padding-left: 11%;
    color: #fff;
    max-width: 900px;
}

.content6 .text p{
    margin: 30px 0;
}

.content6 a{
    text-decoration: none;
    color: #000;
    padding: 15px;
    border-radius: 20px;
    background: #DDDCDC;
    transition: 250ms;
}

.content6 a:hover{
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {

    .logo{
        width: 170%;
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
    }

    .navbar ul li{
        margin: 3px;
    }

    .content1{
        display: none;
    }

    .content2{
        display: none;

    }

    .content3{
        display: none;

    }

    .content4{
        display: none;

    }

    .content5{
        display: none;
    }

    .content6{
        display: none;
    }
  }